@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Shadows+Into+Light&display=swap');
*{
    margin: 0% ;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 150px; */
}
button{
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 7%;
    margin: 4px;
    font-weight: 900;
    border-radius: 15px;
    box-shadow: 0px 0px 3px cyan ;
    font-size: 15px ;
    cursor:pointer;
}
button:hover{
    box-shadow: 0px 0px 3px cyan,0px 0px 25px cyan,0px 0px 50px cyan,0px 0px 100px cyan,0px 0px 150px cyan,0px 0px 200px cyan ;
}
.calculator{
    border: 3px solid black;
    border-radius: 20px;
    padding: 25px;
    background:linear-gradient(45deg, rgb(57, 57, 57) , rgb(19, 19, 39));

}
input{
    width: 100%;
    padding: 10px;
    margin: 25px;
    margin-top: 5px;
    position: relative;
    right: 30px;
    border: none;
    color:bisque;
    text-align: end;
    background-color: rgba(255, 255, 255, 0.074);
    font-size: 15px;
    border-radius: 10px;
    
}
#equalButton{
    width: 122px;
}
h3{
    text-align: center;
    color: bisque;
    
}